---
layout: page
title: "Organizers & Contributors"
description: "FIP2018 Planning Committee and Contributors"
header-img: "img/banner.jpg"
---
<hr>
<div class="row">
			{% for i in site.levels %}
				<div class="col-md-6">
				<h1>{{ i }}</h1>
				<br>
				{% for member in site.data.members %}
					{% if member.type == i %}
						{{ member.name }}
						</br>
					{% endif %}
				{% endfor %}
				</div>
			{% endfor %}

	</div>

<div class='row'>
	<h1> Graphics and Website </h1>
	<p>
		Lina Tran - Webmaster<br></br>
		Alexander Young - Graphic Designer
	</p>
</div>
<br><img src='./img/ay-design.jpg' width=100%></img>
