---
layout: page
title: "Organizers & Contributors"
description: "FIP2018 Planning Committee and Contributors"
header-img: "img/banner.png"
---
<hr>

{% for i in site.levels %}
	<h1>{{ i }}</h1>
	<br>
	{% for member in site.data.members %}
		{% if member.type == i %}
			{% if member.img %}
			<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">
			{% endif %}
			<h3>{{ member.name }} | {{ member.platform }}</h3>
			</br>
			<br>
			</br>
		{% endif %}
	{% endfor %}
{% endfor %}
